.services-wrapper {
    overflow-x: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    width: 700px;
}

.simple-websites {
    color: lightgrey;
}

.services-wrapper img {
    height: 300px;
    border: solid .5px lightgrey;
    box-shadow: 5px 5px 5px;
}